*
{
    margin: 0;
    padding: 0;
}

:root
{
    --key-display: #3E3939;
    --display: #F6F4F4;
    --number-keys: rgb(246, 244, 244, 0.5);
    --main-body: #2C2727;
    --operator: #FF7517;
}

@font-face {
    font-family: DigitalFont;
    src: url('resources/digital-7/digital-7.ttf');
}

@font-face {
    font-family: ChocolateSans;
    src: url('resources/Chocolate_Classical_Sans/ChocolateClassicalSans-Regular.ttf');
}

body
{
    display: flex;
    width: 100svw;
    height: 100svh;
    align-items: center;
    justify-content: center;
}

#info
{
    position: fixed;
    top: 1svh;
    left: 1svh;
    z-index: 999;
    height: 5svh;
}

.switchColor
{
    stroke: white;
}

.howToUsePanel
{
    background-color: var(--key-display);
    font-size: 1.5rem;
    color: var(--display);
    padding-top: 10svh;
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
    overflow: hidden scroll;
    height: 90%;
    width: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: 0.5s;
    z-index: 990;
}

.expression
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    padding-left: 20%;
}

.toggleInfo
{
    display: inline;
    width: calc(20%);
    opacity: 1;
}

#calculatorBody
{
    background-color: var(--main-body);
    border-radius: 2rem;
    padding: 2rem;
    width: calc(50%);
    font-size: 2rem;
    height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 0.5s;
}

.obscure
{
    opacity: 0.5;
}

#calculatorDisplay
{
    display: flex;
    color: var(--main-body);
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    border-radius: 2rem;
    font-family: DigitalFont;
    font-size: 4.5vw;
    background-color: var(--display);
    height: calc(25%);
    width: calc(90%);
    padding: 1%;
}

#calculatorKeyDisplay
{
    font-family: ChocolateSans;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--key-display);
    height: calc(65%);
    width: calc(90%);
    padding: 1%;
}

.row
{
    flex: 1;
    margin: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.key
{
    flex: 1;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    font-size: 1em;
    background-color: var(--number-keys);
}

.key:hover
{
    opacity: 0.8;
}

.key:active
{
    opacity: 0.6;
}

.operator
{
    background-color: var(--operator);
}

@media (max-aspect-ratio: 1/1)
{
    #info img
    {
        height: 3svh;
    }
    #calculatorBody
    {
        width: calc(75%);
        height: calc(70%);
        padding: 1rem;
    }
    #calculatorDisplay
    {
        width: calc(95%);
        font-size: 4.9vw;
    }
    #calculatorKeyDisplay
    {
        width: calc(95%);
    }
    .key
    {
        font-size: 3vh;
        height: fit-content;
    }
    .howToUsePanel
    {
        padding-left: 10%;
        padding-right: 5%;
    }
    .toggleInfo
    {
        width: calc(80%);
    }
}